@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}
:root {
  --btn-primary: #e55473;
}
h1 {
  color: #272727;
  font-size: 80px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
h2 {
  color: #272727;
  /* text-align: center; */
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
h3 {
  color: #272727;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-decoration-line: underline;
}
p {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: white;
}
ul {
  list-style: none;
}
span {
  color: #e55473;
}
.btn-primary {
  background-color:#e55473;
  color: white;
  padding: 15px 40px;
  border-radius: 8px;
  box-shadow: 0 0 2px #e55473;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}
.container {
  max-width: 1580px;
  margin-inline: auto;
  padding: 20px;
}
.section-heading {
  text-align: center;
  margin-top: 50px;
}
.section-mg{
    margin-top: 50px;
}
/* nav start */
nav {
  background: #000;
}
nav h2,
footer h2 {
  color: white;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links ul {
  display: flex;
  gap: 25px;
  align-items: center;
}
.nav-btn {
  background: none;
  color: white;
  border: 1px solid #e55473;
}
.nav-btn:hover {
  background-color:#e55473;
  color: white;
}
/* nav end */
/* hero section start  */
.hero-section {
  background: rgba(229, 84, 115, 0.1);
}
.hero-left {
  max-width: 700px;
}
.hero-right img {
  margin-bottom: -20px;
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* hero section end */
/* featured section start */
.feature-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}
.ft-card {
  background: white;
  overflow: hidden;
}
.ft-img {
  padding: 100px 0 0 0;
  overflow: hidden;
  border-radius: 300px 300px 0px 0px;
}
.ft-img > img {
  display: block;
  width: 400px;
  max-height: 400px;
}
.ft-img-one {
  background: rgba(167, 33, 98, 0.15);
}
.ft-img-two {
  background: rgba(5, 151, 160, 0.15);
}
.ft-img-three {
  background: rgba(71, 125, 17, 0.15);
}
.ft-text {
  text-align: center;
  margin-top: 20px;
}
/* featured section end */
/* sign up section start */
.signup-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.signup-left{
    width: 50%;
text-align: center;
}
.signup-right{
    width: 50%;
    display: flex;
    justify-content: center;
    align-self: center;
}
/* sign up section end */
